body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
body #navigation nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #222222;
}
body #navigation nav #nav-logo {
  min-width: 75px;
}
body #navigation nav #nav-logo a {
  text-decoration: none;
}
body #navigation nav #nav-logo a h1 {
  letter-spacing: -1px;
  color: #FFFFFF;
  font-size: 1.5em;
  margin: auto auto auto 30px;
}
body #navigation nav #nav-logo a h1:hover {
  color: #b22b2b;
  transition: 0.5s;
}
body #navigation nav #nav-logo a h1:not(:hover) {
  color: #FFFFFF;
  transition: 0.5s;
}
body #navigation nav #nav-links {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding-right: 20px;
}
body #navigation nav #nav-links a {
  letter-spacing: 1px;
  font-weight: lighter;
  margin: auto 10px auto 10px;
  text-decoration: none;
  color: #FFFFFF;
}
body #navigation nav #nav-links a:hover {
  color: #b22b2b;
  transition: 0.5s;
}
body #navigation nav #nav-links a:not(:hover) {
  color: #FFFFFF;
  transition: 0.5s;
}
body #navigation nav.active {
  height: 50px;
  background-color: #FFFFFF;
}
body #navigation nav.active #nav-logo a h1 {
  color: #222222;
}
body #navigation nav.active #nav-logo a h1:hover {
  color: #b22b2b;
  transition: 0.5s;
}
body #navigation nav.active #nav-logo a h1:not(:hover) {
  color: #222222;
  transition: 0.5s;
}
body #navigation nav.active #nav-links a {
  color: #222222;
}
body #navigation nav.active #nav-links a:hover {
  color: #b22b2b;
  transition: 0.5s;
}
body #navigation nav.active #nav-links a:not(:hover) {
  color: #222222;
  transition: 0.5s;
}
body #hero-banner {
  width: 100%;
  height: 100vh;
  background-image: url("assets/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #hero-banner .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.3137254902);
}
body #hero-banner .text-container h1 {
  font-size: 3rem;
  color: #FFFFFF;
  text-shadow: 5px -5px 10px rgb(0, 0, 0);
  letter-spacing: 2px;
  max-width: 80%;
}
body #hero-banner .text-container h3 {
  font-weight: lighter;
  color: #FFFFFF;
  text-shadow: 2px -2px 5px rgb(0, 0, 0);
  letter-spacing: 2px;
  max-width: 80%;
}
body #information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
}
body #information-container .information {
  width: 80%;
  max-width: 1300px;
  text-align: justify;
}
body #information-container .information h1 {
  font-weight: light;
}
body #information-container .information h3 {
  font-weight: lighter;
  font-size: 0.98em;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 25px;
  color: #222222;
}

/*# sourceMappingURL=styles.css.map */
